[submodule "auditorium"]
	path = auditorium
	url = ssh://aur@aur.archlinux.org/auditorium.git
[submodule "auditorium-minimal"]
	path = auditorium-minimal
	url = ssh://aur@aur.archlinux.org/auditorium-minimal.git
[submodule "yt-feeds"]
	path = yt-feeds
	url = ssh://aur@aur.archlinux.org/yt-feeds.git
[submodule "dashi"]
	path = dashi
	url = ssh://aur@aur.archlinux.org/dashi.git
